app
  module-header
  content
  module-footer

  style(scoped, type='less').
    :scope {
      content {
        margin-top: 24px;
      }
      module-footer {
        margin-top: 64px;
      }
      @media only screen and (max-width : 600px) {
        content {
          margin-top: 0px;
        }
        module-footer {
          margin-top: 32px;
        }
      }
    }

  script.

    var self = this;

    this.contents = {
      test: {
        title: 'title',
        body: 'body',
        label: 'link label',
      },
    };