//- index.jade
extends ./layout

block content
  app
  script(src='./scripts/tags.js')
  script.
    riot.route('/member/*', function(tagName) {
      //console.log(tagName);
      //$('app').addClass('addAlpha');
      $('app').removeClass('not-opacity');
      // APIからとってくる。もしくはプリロードしてマウント終了後に全部差し込む。
      var content = {
        name: 'kooh',
        intro: 'Artist',
      }
      riot.mount('content', 'page-member', {content: content});
      riot.update();
    })

    riot.route(function(tagName) {
      //console.log(tagName);
      //$('app').addClass('addAlpha');
      $('app').removeClass('not-opacity');
      tagName = tagName || 'page-top';
      riot.mount('content', tagName, {content: 'content'});
      riot.update();
    });

    riot.route.start(true);
    
    var tags = riot.mount('app');