page-top
  div.wrap-page.row.flex-around
    div(each='{item in profs}').prof.mb50
      module-prof(content='{item}')
      item-tags.mt40

  style(scoped, type='less').
    :scope {
      display: block;
      width: 100%;
      .wrap-page {
        width: 90%;
        max-width: 1080px;
        margin: 0 auto;
        .prof {
          width: 40%;
        }
      }
      @media only screen and (max-width : 600px) {
        .wrap-page {
          .prof {
            width: 100%;
          }
        }
      }
    }

  script.

    var self = this;

    this.profs = [
      {
        name: '石原航',
        name_en: 'Ko Ishihara',
        img: './img/kooh.jpg',
      },
      {
        name: '石原航',
        name_en: 'Ko Ishihara',
        img: './img/kooh.jpg',
      },
      {
        name: '石原航',
        name_en: 'Ko Ishihara',
        img: './img/kooh.jpg',
      },
      {
        name: '石原航',
        name_en: 'Ko Ishihara',
        img: './img/kooh.jpg',
      },
      {
        name: '石原航',
        name_en: 'Ko Ishihara',
        img: './img/kooh.jpg',
      },
      {
        name: '石原航',
        name_en: 'Ko Ishihara',
        img: './img/kooh.jpg',
      },
    ];
    
    // ページ遷移時にページ上部へ
    this.on('updated', function(){
      $('a').click(function() {
        $('body, html').animate({ scrollTop:0 }, 0);
      });
      //$('app').removeClass('addAlpha');
      setTimeout(function() {
        $('app').addClass('not-opacity');
      }, 300);
    });

    

