page-top
  div.wrap.row.flex-around
    div.prof(each='{profs}').mb50
      module-prof
      item-tags.mt40


  style(scoped, type='less').
    :scope {
      display: block;
      width: 100%;
      .wrap {
        width: 90%;
        max-width: 1080px;
        margin: 0 auto;
        .prof {
          width: 40%;
        }
      }
      @media only screen and (max-width : 600px) {
        .wrap {
          .prof {
            width: 100%;
          }
        }
      }
    }

  script.

    var self = this;

    this.profs = [
      {
        name: '石原航',
        name_en: 'Ko Ishihara',
      },
      {
        name: '石原航',
        name_en: 'Ko Ishihara',
      },
      {
        name: '石原航',
        name_en: 'Ko Ishihara',
      },
      {
        name: '石原航',
        name_en: 'Ko Ishihara',
      },
      {
        name: '石原航',
        name_en: 'Ko Ishihara',
      },
      {
        name: '石原航',
        name_en: 'Ko Ishihara',
      },
    ];
