page-member
  div.wrap-page
    div.wrap-prof.mb60.f.fc
      div.prof
        module-prof(content='{prof}')
        item-sns-icons.mt32
        item-tags.mt32
    module-intro-text.mb60
    module-via.mb60
    module-contact.mb60

  style(scoped, type='less').
    :scope {
      display: block;
      width: 100%;
      .wrap-page {
        width: 90%;
        max-width: 1080px;
        margin: 0 auto;
        .wrap-prof {
          .prof {
            width: 40%;
          }
        }
      }
      @media only screen and (max-width : 600px) {
        .wrap-page {
          .wrap-prof {
            .prof {
              width: 100%;
            }
          }
        }
      }
    }

  script.

    this.prof = {
      name: '石原航',
      name_en: 'Ko Ishihara',
      img: './img/kooh.jpg',
    }

    this.on('updated', function(){
      $('.toTop').click(function() {
        $('body, html').animate({ scrollTop:0 }, 0);
      });
      setTimeout(function() {
        $('app').addClass('not-opacity');
      }, 300);
    });

