page-top
  div.wrap
    module-prof


  style(scoped, type='less').
    :scope {
      display: block;
      width: 100%;
      .wrap {
        width: 90%;
        max-width: 1080px;
        margin: 0 auto;
      }
    }

  script.

    var self = this;
