module-intro-text
  div.wrap-module
    p { p }

  style(scoped, type='less').
    :scope {
      display: block;
      width: 100%;
      .wrap-module {
        p {
          color: #2a2a2a;
        }
      }
    }

  script.

    var self = this;

    this.p = 'どうも、こんな人です。以後お見知り置きをよろしくお願いします。どうも、こんな人です。以後お見知り置きをよろしくお願いします。こんなことやってるよ、すごいでしょ。こんなことやってるよ、すごいでしょ。こんなことやってるよ、すごいでしょ。どうも、こんな人です。以後お見知り置きをよろしくお願いします。すごいでしょ。こんなことやってるよ、すごいでしょ。どうも、こんな人です。以後お見知り置きをよろしくお願いします。どうも、こんな人です。以後お見知り置きをよろしくお願いします。';
