module-intro-text
  div.wrap-module
    p 

  style(scoped, type='less').
    :scope {
      display: block;
      width: 100%;
      @media only screen and (max-width : 600px) {
        
      }
    }

  script.

    var self = this;