module-prof
  a(href='#member/kooh').wrap-module
    div.wrap-img.f.fh
      img(src='{ opts.content.img }').my40
    div.wrap-name
      span.name { opts.content.name }
      span.name-en.mt20 { opts.content.name_en }

  style(scoped, type='less').
    :scope {
      display: block;
      width: 100%;
      .wrap-module {
        display: block;
        .wrap-img {
          width: 100%;
          img {
            width: 64%;
            border-radius: 50%;
            border: solid 4px #fff;
            box-shadow: rgb(0, 0, 0) 1px 2px 10px -2px;
          }
          img:hover {
            box-shadow: rgb(0, 0, 0) 1px 2px 24px -2px;
          }
        }
        .wrap-name {
          span {
            display: block;
            text-align: center;
          }
          .name {
            font-size: 28px;
            color: #2a2a2a;
          }
          .name-en {
            font-size: 24px;
            color: #999;
          }
        }
      }
    }

  script.

    var self = this;