module-via
  div.wrap-module
    atom-li-via(each='{item in vias}', item='{item}')
    
  style(scoped, type='less').
    :scope {
      display: block;
      width: 100%;
      .wrap-module {
        width: 80%;
        margin: 0 auto;
      }
      @media only screen and (max-width : 600px) {
        .wrap-module {
          width: 90%;
        }
      }
    }

  script.
    this.vias = [
      '20xx年、こういうところでこんな実績があるんだよすごいでしょ。これをやってこうしたらこうなったよ。こんな実績があるんだよすごいでしょ。',
      '20xx年、こういうところでこんな実績があるんだよすごいでしょ。これをやってこうしたらこうなったよ。こんな実績があるんだよすごいでしょ。',
      '20xx年、こういうところでこんな実績があるんだよすごいでしょ。これをやってこうしたらこうなったよ。こんな実績があるんだよすごいでしょ。',
      '20xx年、こういうところでこんな実績があるんだよすごいでしょ。これをやってこうしたらこうなったよ。こんな実績があるんだよすごいでしょ。',
      '20xx年、こういうところでこんな実績があるんだよすごいでしょ。これをやってこうしたらこうなったよ。こんな実績があるんだよすごいでしょ。',
    ];