module-header
  div.wrap
    div.logo.py32.pl12
      a(href="#page-top")
        h1 CroMen Players Directory

  style(scoped, type='less').
    :scope {
      display: block;
      width: 100%;
      .wrap {
        width: 90%;
        max-width: 1080px;
        margin: 0 auto;
        .logo {
          a {
            display: inline-block;
            h1 {
              color: #2a2a2a;
              display: block;
            }
          }
        }
      }
      @media only screen and (max-width : 600px) {

      }
    }

  script.

    var self = this;